*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary-color-text: rgba(255, 255, 255, 0.911); 
    --secondary-color: rgb(51, 66, 80);
    --theme-color: rgb(173, 216, 250);
}
body {
  background-color: rgb(231, 231, 233);
}
/* Header Start */ 

header{
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  top: 0;
  border: 0;
  background-image: url(../assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
  padding: 15px 15px 15px 0px;
}

header h1 {
    font-family: garamond;
    font-weight: bold;
    color: var(--primary-color);
    padding: 10px 10px 10px 0px;
    background-color: var(--theme-color);
    margin-right: 0px 0px 0px 20px;
  }
header a {

  border-bottom: 3px solid;
  text-decoration: none;
  }
  
header nav {
  margin-top: 14px;
  }
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--theme-color);
    border-radius: 15px;
    color: var(--theme-color);

  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: rgb(207, 213, 216);
    border-radius: 15px;
    text-shadow: none;
  }
/* Header End */ 
/* Sub-heading Start */ 
  .subtitle {
    font-family: garamond; 
    padding: 45px 20px;
    background-image: url(../images/sky.jpg);
    text-align: right;
    text-align: end;
  }
  .subtitle p {
    border-radius: 15px;
    padding: 7px;
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    background-color: var(--theme-color);
    display: inline-block;
  }

/* Body Start */

  .section-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-right: 3px solid;
    font-size: 35px;
    margin: 10px;
    width: 150;
    color:var(--secondary-color);
  }

  .about, .project{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }

  .about p {
    flex: 1 12%;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
 /* Contact me Start */ 


 .contact {
  text-decoration: none;  
  list-style: none;
  display: flex;
  flex-wrap: wrap;
 }


 .info ul {
    padding-top: 40px;
    flex: 1 12%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .info ul li a {
  padding: 45px;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 1.55vw;
 }

 /* Contact me End  */
 /* Work/Projects Start */ 
 
 .works {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 15px;
  
 }
 .works > .run{
  border: 7px solid var(--theme-color);
  text-align: left;
  font-size: 15px;
  font-family: garamond ;
} 

.works > .run img {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.works h3, .works h4 {
  background-color: var(--theme-color);
}
.works h3 {
  font-family: garamond ;
  font-size: 25px;
  margin: 0px;
}

.works > h4 {
  margin: 0px;
  font-family: Georgia, serif ;
  font-size: 15px;
}